//- basic layout

//- use this by extend layout/basic
//- init mixin
include ../mixin/all

doctype html
html

	head
		//- set charset, should before title
		meta(charset='utf-8')

		//- `IE=edge` tells IE to use the most recent standard
		//- `chrome=1` means site to render in ChromeFrame
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

		block title
			title= title

		block meta
			+meta({
				  keywords: keywords
				, description: description
				, viewport: 'width=device-width'
				, renderer: 'webkit' // for double core browsers like 360 use webkit first
			})

		block style
			link(rel='stylesheet' href='/style.css')

		block icon

		//- old browser compat
		block compat

	body
		block header
		block main
			main(role='main')
		block footer
		block script
			script(src='/app.js')
